assignment/
source/dataset/
*.ipynb_checkpoints
logs/

source/features/
source/utils/utils.egg-info/
source/utils/dist/
source/utils/build/
source/utils/test.py

## Virtual environment
venv/
.venv/

## All pychaches
*__pycache__*

## won't push storage files
storage/files/

## won't push pycharm files
*.idea

## won't push following extensions
*.vec
*.bin
*.log
*.env
*.pkl
*.npz
*.npy
*.pyc
*.python_history
*.pid
*.cfg
*.parquet
*.crc
*.egg
.local/
.cache/
nltk_data/



